# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environment
.venv/
env/
venv/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# PLauncher
**/data.json
*.log

# Windows
Thumbs.db
ehthumbs.db
